body {
    border: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.container {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: block;
}

#github-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
